body{
	
	background: linear-gradient(#707070, #c9c9c9, #707070);
}


h1 {
    color: Black;
	text-align: center;
}

h2{
	text-decoration:underline;
	padding-left: 10px;
	
}
p{
	font-size: 16px;
	font-family: verdana;
	padding-left: 10px;
	padding-right: 5px;
}
.firstbox{
	width: 49%;
	border: 6px solid black;
	position: absolute;

}
.secondbox{
	width: 47%;
	margin-left: 650px;
	margin-top: 400px;
	border: 6px solid black;
	position: absolute;
}
.thirdbox{
	width: 98%;
	margin-top: 950px;
	border:6px solid black;
	text-align: center;
}
.formButton{

	top: 1000px;
	left: 1000px;
}

button5 {
			background-color: white;
			color: black;
			border: 2px solid black;
			width: 95%;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
			cursor: pointer;
		}

button5:hover {
			background-color: #555555;
			color: white;
		}
		
		
		
		
.slideshow-container {

	height: 40%;
	width: 47%;
	margin-left:650px;
	border:6px solid black;
	position: absolute;
	}
.image-container{
    margin: auto;
    width: 100%;
    padding-right: 100px;
	}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		